/*******************************************************************************************/
/*		GNU/GPL License
/*		Designed by 'AS Designing'
/*		Web: http://www.asdesigning.com
/*		Web: http://www.astemplates.com
/*
/*	    This CSS file contains Joomla Blog edited classes.
/*
/**************************************************************************************/

#colmain .cols-4 .item-separator,
#colmain .cols-4 .row-separator,
#colmain .cols-3 .item-separator,
#colmain .cols-3 .row-separator,
#colmain .cols-2 .item-separator,
#colmain .cols-2 .row-separator,
#colmain .cols-1 .item-separator,
#colmain .cols-1 .row-separator
{
	background-image: none;	
}

#colmain .cols-1 a:hover,
#colmain .cols-2 a:hover,
#colmain .cols-3 a:hover,
#colmain .cols-4 a:hover
{
	color: #B33A0D;
}

#colmain .cols-1 .readmore
{
	margin: 0px 11px 0px 0px;
}

/**************************************************************************************/

#colmain .cols-2 .column-1
{
    float: left;
    width: 488px;
    margin: 0px 25px 0px 0px;
    padding: 0px;
}

#colmain .cols-2 .column-2
{
    float: left;
    width: 487px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

/**************************************************************************************/

#colmain .cols-3 .column-1,
#colmain .cols-3 .column-2
{
    float: left;
    width: 316px;
    margin: 0px 25px 0px 0px;
    padding: 0px;
}

#colmain .cols-3 .column-3
{
    float: left;
    width: 318px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

/**************************************************************************************/

#colmain .cols-4 .column-1,
#colmain .cols-4 .column-2,
#colmain .cols-4 .column-3
{
    float: left;
    width: 231px;
    margin: 0px 25px 0px 0px;
    padding: 0px;
}

#colmain .cols-4 .column-4
{
    float: left;
    width: 232px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}